.promo {
  padding-top: 16px;
  padding-bottom: 18px;
  background-color: #f1f1f1;
  @include media-breakpoint-up(md) {
    padding-top: 24px;
    padding-bottom: 26px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 40px;
  }
  &__slider {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include media-breakpoint-up(xl) {
      &::before {
        content: '';
        position: absolute;
        right: -16px;
        top: 0;
        bottom: 0;
        width: 16px;
        background-color: #F1F1F1;
        z-index: 2;
      }

    }
  }
  .promo__cont {
    @include media-breakpoint-up(xl) {
      max-width:calc(100% - 386px)
    }
  }
 .slick-list {
   margin-right: -16px;
 }
  .slick-slide {
    margin-right: 16px;
  }
 &__section {
    padding: 16px 16px 0;
    background-color: #fff;
    height: 384px;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: column;
      min-height: 408px;
      padding: 31px 40px 47px 40px;
    }
    @include media-breakpoint-up(xl) {
      min-height: 448px;
      padding: 48px 45px 56px 48px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include media-breakpoint-up(md) {
    }
  }
  &__btn {
    min-width: 167px;
    margin-top: auto;
    margin-right: auto;
  }
  &__title {
    margin-bottom: 11px;
    font-weight: 500;
    &--md {
      max-width: 207px;
      font-size: 20px;
      line-height: 1.1;
      text-transform: none;

    }
    &--lg {
      text-transform: uppercase;
      font-size: 20px;
      line-height: 1.36;
      @include media-breakpoint-up(md) {
        font-size: 28px;
      }
    }
    &--white {
      max-width: 180px;
      color: #ffffff;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 16px;
    }
  }
  &__discount {
    display: block;
    color: $red;
  }
  &__text {
    max-width: 148px;
    margin-bottom: 0;
    font-size: 14px;
    @include media-breakpoint-up(md) {
      margin-bottom: 15px;
    }
  }
  &__img {
    position: relative;
    width: 190px;
    top: -51px;
    right: 15px;
    @include media-breakpoint-up(md) {
      width: 261px;
      position: absolute;
      top: -21px;
      right: 4px;
    }
    @include media-breakpoint-up(xl) {
      right: 2px;
      top: -32px;
    }
  }
  &__sticker {
    position: absolute;
    right: -15px;
    bottom: 30px;
    @include media-breakpoint-up(md) {
      right: -4px;
      bottom: 51px;
      width: 100px;
      height: 100px;
    }
    svg {
      @include media-breakpoint-up(md) {
        width: 100px;
        height: 100px;
      }
    }
    span {
      @include media-breakpoint-up(md) {
        top: 37px;
        left: 20px;
        font-size: 28px;
      }
    }
  }
  .slick-dots {
    @include media-breakpoint-up(md) {
      justify-content: flex-start;
      position: relative;
      left: -6px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 18px;
    }
  }
  &__md-section {
    display: flex;
    flex-direction: column;
    min-height: 192px;
    margin-bottom: 16px;
    padding: 22px 24px 24px 24px;
    background-repeat: no-repeat;
    @include media-breakpoint-up(xl) {
      margin-left: 16px;
      min-height: 216px;
      width: 368px;
      padding: 40px 24px 24px 24px;
    }
    &--hand-bg {
      background: #fff url(%=static=%general/hand@3x.png) bottom 0 right 21px no-repeat;
      background-size: 163px 188px;
      @include media-breakpoint-up(xl) {
        background-size: 191px 216px;
      }
    }
    &--card-bg {
      margin-bottom: 0;
      background: #ea2b16 url(../img/general/card.png) bottom -10px right -8px no-repeat;
      background-size: 345px 200px;
      @include media-breakpoint-up(xl) {
        background-position: bottom -2px right 0;
        background-size: 368px 221px;
      }
    }
  }
  &__apps {
    display: flex;
    margin-top: auto;
  }
  &__app {
    display: block;
    margin-right: 11px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 85px;
    height: 26px;
    &:focus {
      outline: none;
    }
    &--google-play {
      background-image: url(%=static=%general/play-market-sm.svg);
    }
    &--app-store {
      background-image: url(%=static=%general/app-store-sm.svg);
    }
  }
}
