.catalog {
  padding-bottom: 32px;
  border-bottom: solid 1px $white-two;
  @include media-breakpoint-up(md) {
    padding-bottom: 48px;
  }
  &__only-discount {
    margin-bottom: 14px;
    .checkbox {
      padding-left: 28px;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-left: auto;
    }
  }
  &__sort-wrapper {
    display: flex;
  }
  &__sort {
    flex-grow: 1;
    margin-bottom: 24px;
    padding: 8px 16px 9px;
    border-color: transparent;
    appearance: none;
    border-radius: 4px 0 0 4px;
    background-color: #f6f6f6;
    font-size: 14px;
    line-height: 1.57;
    color: $black;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &__sort-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    margin-left: 1px;
    background-color: #f6f6f6;
    font-size: 0;
    border: none;
    @include media-breakpoint-up(md) {
      width: 20px;
      height: 20px;
      margin-left: 0;
    }
    &.active {
      .icon {
        fill: $red;
        transform: rotate(0);
      }
    }
    .icon {
      fill: $black;
      transform: rotate(180deg);
      transition: .2s ease-out;
    }
  }
  &__sort-element {
    display: flex;
    align-items: center;
    margin-right: 19px;
  }
  &__filter-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 0;
    background: #f6f6f6 url(%=static=%minified-svg/settings.svg) center no-repeat;
  }
  &__filter-wrapper {
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      padding: 9.5px 16px;
      border-radius: 4px;
      background-color: #f6f6f6;
    }
    @include media-breakpoint-up(xl) {
      padding: 13.5px 24px;
    }
  }
  &__sort-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__sort-item {
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
  }

  &__radio {
    display: none;
  }
  &__radio:checked + span + .icon {
    transform: rotate(0);
    fill: $red;
  }
  &__radio:checked + span {
    color: $red;
  }
  &__card {
    margin-bottom: 16px;
  }
  &__show-more {
    width: 100%;
    margin-bottom: 32px;
    @include media-breakpoint-up(md) {
      width: 240px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 40px;
    }
  }
  &__list {
    @include media-breakpoint-up(md) {
      margin-bottom: 16px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 24px;
    }
  }
  &__amount-row {
    display: flex;
    margin-left: 24px;
  }
  &__view {
    display: block;
    font-size: 0;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
      &.current .icon {
        stroke: $red;
      }
      .icon {
        stroke: $black
      }
    }
    &.current {
      .icon {
        fill: $red;
      }
    }
    .icon {
      fill: $black;
    }
  }
}
