doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/footer/footer.pug
	include ../components/header/header
	include ../components/breadcrumbs/breadcrumbs
	include ../components/cart/cart
	include ../components/subscribe/subscribe
	include ../components/demo/demo
	include ../components/success-added/success-added
	include ../components/spring/spring
	include ../components/useful/useful
	include ../components/order-fast/order-fast
	include ../components/done-request/done-request
	include ../components/registration/registration
	include ../components/sign-in/sign-in
	include ../components/review-not-rating/review-not-rating

	head
		+head(head.defaults)
	body
		+header()
		.container
			+breadcrumbs()
		.page-cart
			.container
				+cart(cart)
		+useful(spring)
		+subscribe()
		+demo()
		+footer()
		+success-added()
		+order-fast()
		+registration()
		+sign-in()
		+done-request()
		+review-not-rating()
			//- Include your components here
		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();
		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
