doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/footer/footer.pug
	include ../components/header/header
	include ../components/breadcrumbs/breadcrumbs
	include ../components/cart/cart
	include ../components/subscribe/subscribe
	include ../components/demo/demo
	include ../components/success-added/success-added
	include ../components/spring/spring
	include ../components/useful/useful
	head
		+head(head.defaults)
	//script(src='%=static=%js/separate-js/script.js')
	link(href="%=static=%css/separate-css/styles.css" rel="stylesheet" type="text/css")
	body
		+header()
		.container
			+breadcrumbs()
		.page-cart
			.container
				+cart(cart)
		+useful(spring)
		+subscribe()
		+demo()
		+footer()
		+success-added()
			//- Include your components here
		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();
		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%.js')
