doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/footer/footer.pug
	include ../components/header/header
	include ../components/recently/recently
	include ../components/subscribe/subscribe
	include ../components/demo/demo
	include ../components/success-added/success-added
	include ../components/breadcrumbs/breadcrumbs
	include ../components/catalog/catalog
	head
		+head(head.defaults)
	//	style.
	//		HTML {
	//			background-repeat: no-repeat;
	//			background-position: 50% 0;
	//			background-image: url("%=static=%img/general/screenshots/catalog/320/mobile_002_catalog.png");
	//
	//		}
	//		@media ( min-width: 768px ) {
	//			HTML {
	//				background-image: url("%=static=%img/general/screenshots/catalog/768/tablet_002_catalog.png");
	//
	//			}
	//		}
	//		@media ( min-width: 1200px ) {
	//			HTML {
	//				background-image: url("%=static=%img/general/screenshots/catalog/1344/002_catalog.png");
	//
	//			}
	//		}
	//script(src='%=static=%js/separate-js/script.js')
	//link(href="%=static=%css/separate-css/styles.css" rel="stylesheet" type="text/css")
	body
		+header()
		main
			.container
				+breadcrumbs()
			+catalog(catalog)
		+recently(recently)
		+subscribe()
		+demo()
		+footer()
		+success-added()

			//- Include your components here
		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%.js')
