doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/footer/footer.pug
	include ../components/header/header
	include ../components/breadcrumbs/breadcrumbs
	include ../components/delivery/delivery
	include ../components/registration/registration
	include ../components/sign-in/sign-in
	include ../components/review-not-rating/review-not-rating

	head
		+head(head.defaults)
	body
		+header()
		.container
			+breadcrumbs()
		+delivery()
		+footer()
		+registration()
		+sign-in()
		+review-not-rating()

			//- Include your components here
		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
