doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/footer/footer.pug
	include ../components/header/header
	include ../components/promo/promo
	include ../components/spring/spring
	include ../components/disease/disease
	include ../components/discounts/discounts
	include ../components/popular/popular
	include ../components/features/features
	include ../components/brands/brands
	include ../components/blog/blog
	include ../components/reviews/reviews
	include ../components/recently/recently
	include ../components/subscribe/subscribe

	head
		+head(head.defaults)
		style.
			HTML {
				background-repeat: no-repeat;
				background-position: 50% 0;
				background-image: url("%=static=%img/general/screenshots/main/320/mobile_001_mainpage.png");

			}
			@media ( min-width: 768px ) {
				HTML {
					background-image: url("%=static=%img/general/screenshots/main/768/tablet_001_mainpage.png");

				}
			}
			@media ( min-width: 1344px ) {
				HTML {
					background-image: url("%=static=%img/general/screenshots/main/1344/001_mainpage.png");

				}
			}
	script(src='%=static=%js/separate-js/script.js')
	link(href="%=static=%css/separate-css/styles.css" rel="stylesheet" type="text/css")
	body
		+header()
		+promo()
		+spring(spring)
		+disease(disease)
		+discounts()
		+popular(disease)
		+features()
		+brands()
		+blog()
		+reviews()
		+recently(recently)
		+subscribe()
			//- Include your components here
		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
