doctype html
html(class="no-js", lang="ru")

	include ../components/head/head.pug
	include ../components/footer/footer.pug
	include ../components/header/header
	include ../components/breadcrumbs/breadcrumbs
	include ../components/recently/recently
	include ../components/subscribe/subscribe
	include ../components/demo/demo
	include ../components/success-added/success-added
	include ../components/spring/spring
	include ../components/product-reviews/product-reviews
	include ../components/product-info/product-info
	include ../components/instruction/instruction
	include ../components/analog-products/analog-products
	include ../components/buy-with-product/buy-with-product
	include ../components/order-fast/order-fast
	include ../components/done-request/done-request
	include ../components/write-review/write-review
	include ../components/success-add-review/success-add-review
	include ../components/registration/registration
	include ../components/sign-in/sign-in
	include ../components/review-not-rating/review-not-rating

	head
		+head(head.defaults)
	body
		+header()
		.container
			+breadcrumbs()
		+product-info()
		+instruction(instructions)
		+analog-products(spring)
		+buy-with-product(spring)
		+recently(recently)
		+subscribe()
		+demo()
		+footer()
		+success-added()
		+order-fast()
		+done-request()
		+write-review()
		+success-add-review()
		+registration()
		+sign-in()
		+review-not-rating()

			//- Include your components here
		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')
