mixin features(data)
	.features
		.container
			.row.js-features-slider
				.col-xl
					.features__item
						.features__img
							img(data-src="%=static=%img/general/pills.svg" alt="Широкий выбор").lazyload.blur-up
						.feautures__info
							h3.features__title Широкий выбор
							p.features__text Медиавес, как следует из вышесказанного, тормозит межличностный нишевый проект.
				.col-xl
					.features__item
						.features__img
							img(data-src="%=static=%img/general/heart.svg" alt="Высокое Качество").lazyload.blur-up
						.feautures__info
							h3.features__title Высокое Качество
							p.features__text Имидж предприятия основательно подпорчен предыдущим опытом применения.
				.col-xl
					.features__item
						.features__img
							img(data-src="%=static=%img/general/cross.svg" alt="Низкие цены").lazyload.blur-up
						.feautures__info
							h3.features__title Низкие цены
							p.features__text Сегментация рынка, пренебрегая деталями, отражает показ баннера.
				.col-xl
					.features__item
						.features__img
							img(data-src="%=static=%img/general/hands.svg" alt="Надежность").lazyload.blur-up
						.feautures__info
							h3.features__title Надежность
							p.features__text Позиционирование на рынке позиционирует социометрический медиавес.
				.col-xl
					.features__item
						.features__img
							img(data-src="%=static=%img/general/clock.svg" alt="Экономия времени").lazyload.blur-up
						.feautures__info
							h3.features__title Экономия времени
							p.features__text Анализ рыночных цен сбалансирован. Точечное воздействие программирует.
