.success-added {
  position:relative;
  padding: 16px;
  border: solid 1px $white-two;
  border-radius: 4px;
  box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  @include media-breakpoint-up(md) {
    padding: 26px 32px;
  }
  @include media-breakpoint-up(md) {
    padding: 45px 48px;
  }
  .modal-dialog {
    max-width: 673px;
  }
  &__title {
    display: block;
    max-width: 152px;
    line-height: 1.25;
    letter-spacing: 0.1px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      max-width: 100%;
      font-size: 24px;
      line-height: 1.25;
      letter-spacing: 0.2px;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 40px;
    }
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__img {
    text-align: center;
    img {
      width: 120px;
      @include media-breakpoint-up(md) {
        width: 153px;
      }
    }
  }
  &__name {
    margin-bottom: 6px;
    a {
      display: block;
      font-size: 13px;
      font-weight: 500;
      line-height: 1.38;
      @include media-breakpoint-up(md) {
        font-size: 14px;
      }
    }
  }

  &__made {
    display: block;
    margin-bottom: 10px;
    color: $warm-grey-two;
    font-size: 12px;
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
  }
  &__old-cost {
    display: block;
    line-height: 1.43;
    letter-spacing: -0.3px;
    color: $warm-grey;
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
  }
  &__cost {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: -0.2px;
    &--right {
      text-align: right;
    }
  }
  &__amount {
    display: block;
    font-size: 14px;
    color: rgba($black, .6);
  }
  &__label-cost {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: -0.3px;
    text-align: right;
    color: $warm-grey;
  }
  &__footer {
    padding-top: 20px;
  }
  &__btn {
    width: 100%;
    text-transform: uppercase;
    &:first-child {
      margin-bottom: 16px;
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
  }
}
