// Common styles of the project
body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: $black;
  min-width: 320px;
}

.container {
  @include media-breakpoint-up(md) {
    padding-right: 32px;
    padding-left: 32px;
  }
  @include media-breakpoint-up(xl) {
    padding-right: 24px;
    padding-left: 24px;
  }
}

label {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h2,
.h2 {
  margin-bottom: 19px;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 0.2px;
  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

p {
  font-size: 14px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(118, 118, 118, 0.8);
  z-index: -1;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 1;
  background-color: rgba(118, 118, 118, 0.8);
  z-index: 1040;
}

.modal-dialog-centered {
  justify-content: center;
}

.modal-dialog {
  pointer-events: auto;
}

div.d-none-x {
  display: none !important;
}

div.d-xxl-block {
  @media (min-width: 1900px) {
    display: block !important;
  }
}

.ml-xxl-auto {
  @media (min-width: 1900px) {
    margin-left: auto !important;

  }
}

@media (min-width: 1600px) {
  .col-xxl-2 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1900px) {
  .col-xxxl-1 {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
  }
}

.page-cart {
  border-bottom: solid 1px $white-two;
  @include media-breakpoint-up(xl) {
    border-bottom: none;
  }
}
