// File for scss-vars.
// For example: main colors, paddings and so on.

$white-two: #dfdfdf;
$red: #ea2b16;
$black: #2b2b2b;
$warm-grey: #767676;
$white: #d8d8d8;
$white-light: #f1f1f1;
$warm-grey-two: #9b9b9b;
$rusty-red: #cb2a19;
$pinkish-grey: #c8c8c8;
