.other-form {
  position:relative;
  padding-top: 12px;
  font-size: 0;
  @include media-breakpoint-up(xl) {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 12px;
  }
    .slick-list {
      margin-right: -8px;
      margin-left: -8px;
      padding-top: 4px;
      padding-bottom: 1px;
      @include media-breakpoint-up(xl) {
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }
  &__card {
    margin-bottom: 4px;
  }
  .slick-slide div + div {
      margin-top: 12px;
  }
  .slider-dots {
    padding-top: 6px;
  }
  &__header {
    position: absolute;
    top: -56px;
    right: 0;
    width: 97px;
  }
  &__btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
