include ../icon/icon

mixin social(data)
	ul.social
		li.social__item
			a(href="#").social__link
				+icon('vk', '21', '12')
		li.social__item
			a(href="#").social__link
				+icon('fb', '10', '20')
		li.social__item
			a(href="#").social__link
				+icon('insta', '18', '18')
		li.social__item
			a(href="#").social__link
				+icon('youtube', '18', '12')
		li.social__item
			a(href="#").social__link
				+icon('telegram', '18', '18')
