.reviews {
  padding-top: 25px;
  padding-bottom: 31px;
  border-bottom: solid 1px #e7e7e7;
  @include media-breakpoint-up(md) {
    padding-top: 39px;
    padding-bottom: 31px;
  }
  @include media-breakpoint-up(xl) {
    padding-top: 48px;
    padding-bottom: 46px;
  }
  &__header {
    @include media-breakpoint-up(xl) {
      margin-bottom: 24px;
    }
  }
  &__item {
    margin-bottom: 11px;
  }
  &__title {
    @include media-breakpoint-up(md) {
      margin-bottom: 24px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
    }
  }


  .slick-dots {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  &__all-reviews {
    width: 100%;
    @include media-breakpoint-up(md) {
      min-width: 192px;
    }
    @include media-breakpoint-up(xl) {
      min-width: 225px;
    }
  }
  &__show-all {
    @include media-breakpoint-up(xl) {
      min-width: 242px;
    }
    &:hover {
      border-color: $white-two;
    }
  }
}
