include ../review/review

mixin reviews(data)
	.reviews
		.container
			.reviews__header
				.row.justify-content-between
					.col-auto
						h2.reviews__title Отзывы
					.col-auto.d-none.d-xl-block
						a(href="#").reviews__show-all.btn Перейти на страницу отзывов
			.row.js-slider-reviews
				each item in data
					.col
						+review(item).reviews__item
			.row.justify-content-center.d-xl-none
				.col-md-auto
					a(href="#").reviews__all-reviews.btn Перейти на страницу отзывов



