mixin brands(data)
	.brands
		.container
			h2.brands__title Бренды
			.row.align-items-center.js-brands-slider
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/panadol.png" srcset="%=static=%img/general/brands/panadol@2x.png 2x, %=static=%img/general/brands/panadol@3x.png 3x" alt="panadol")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/colgate.png" srcset="%=static=%img/general/brands/colgate@2x.png 2x, %=static=%img/general/brands/colgate@3x.png 3x" alt="colgate")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/lazolvan.png" srcset="%=static=%img/general/brands/lazolvan@2x.png 2x, %=static=%img/general/brands/lazolvan@3x.png 3x" alt="lazolvan")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/avent.png" srcset="%=static=%img/general/brands/avent@2x.png 2x, %=static=%img/general/brands/avent@3x.png 3x" alt="avent")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/mom.png" srcset="%=static=%img/general/brands/mom@2x.png 2x, %=static=%img/general/brands/mom@3x.png 3x" alt="mom")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/contex.png" srcset="%=static=%img/general/brands/contex@2x.png 2x, %=static=%img/general/brands/contex@3x.png 3x" alt="contex")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/scholl.png" srcset="%=static=%img/general/brands/scholl@2x.png 2x, %=static=%img/general/brands/scholl@3x.png 3x" alt="scholl")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/lacalut.png" srcset="%=static=%img/general/brands/lacalut@2x.png 2x, %=static=%img/general/brands/lacalut@3x.png 3x" alt="lacalut")
				.col
					a(href="#")
						img(src="%=static=%img/general/brands/libre-derm.png" srcset="%=static=%img/general/brands/libre-derm@2x.png 2x, %=static=%img/general/brands/libre-derm@3x.png 3x" alt="libre-derm")
