mixin brands(data)
	.brands
		.container
			h2.brands__title Бренды
			.row.align-items-center.js-brands-slider
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/panadol.png" alt="panadol")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/colgate.png" alt="colgate")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/lazolvan.png" alt="lazolvan")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/avent.png" alt="avent")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/mom.png" alt="mom")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/contex.png" alt="contex")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/scholl.png" alt="scholl")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/lacalut.png" alt="lacalut")
				.col-auto
					a(href="#")
						img(src="%=static=%img/general/brands/libre-derm.png" alt="libre-derm")
