mixin brands(data)
	.brands
		.container
			h2.brands__title Бренды
			.row.align-items-center.js-brands-slider
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/panadol.png" alt="panadol").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/colgate.png" alt="colgate").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/lazolvan.png" alt="lazolvan").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/avent.png" alt="avent").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/mom.png" alt="mom").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/contex.png" alt="contex").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/scholl.png" alt="scholl").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/lacalut.png" alt="lacalut").lazyload.blur-up
				.col-auto
					a(href="#")
						img(data-src="%=static=%img/general/brands/libre-derm.png" alt="libre-derm").lazyload.blur-up
