mixin product-wide(data)
	include ../stars/stars
		
	.product-wide&attributes(attributes)
		if data.sticker
			.product-wide__sticker.sticker
				+icon('sticker', '40', '40')
				span -10%
		.product-wide__top
			a(href="#").product-wide__img
				if data.imgName
					img(data-src="%=static=%img/content/" + data.imgName + ".jpg" width="120" height="120" alt="" + data.title).lazyload.blur-up
		.product-wide__info
			.row
				.col
					h3.product-wide__title
						a(href="#") #{data.title}
					p.product-wide__made #{data.made}
						if !data.info
				.col-auto.d-none.d-md-block
					if data.favorite
						button(type="button").product-wide__btn-icon.btn.btn--heart.active.js-add-favorite
							| Добавить в избранное
							+icon('heart', '17', '15')
					else
						button(type="button").product-wide__btn-icon.btn.btn--heart.js-add-favorite
							| Добавить в избранное
							+icon('heart', '17', '15')
				.col-12
					.row.align-items-md-end.mt-auto
						.col-12.col-md-auto.col-xl.d-md-flex.align-content-md-between.flex-md-column
							.product-wide__articul
								span.product-wide__label Артикул: &#160;
								span.product-wide__code 732478
							.product-wide__rating
								span.product-wide__title-stars Рейтинг товара:
								+stars().product-wide__stars
							ul.product-wide__info-list
								li.product-wide__status.li.product-wide__status--in-stock
									span.product-wide__have-products В наличии
								li.product-wide__status.li.product-wide__status--delivery
									span.product-wide__title-info Доставка:&#160;
									span.product-wide__sub-title сегодня&#160;
								li.product-wide__status
									span.product-wide__title-info Самовывоз:&#160;
									span.product-wide__sub-title сегодня&#160;

						.col-12.col-md-auto.ml-md-auto
							if data.oldCostValue
								span.product-wide__old-cost #{data.oldCostValue}
									span  &#8381;
							.product-wide__buttons
								a(href="#" data-toggle="modal" data-target="#cart-list").product-wide__buy.btn.btn--border-red.btn--icon.js-add-cart
									span.product-wide__btn-text #{data.cost}
										span  &#8381;
									span.product-wide__btn-label Купить
									span.product-wide__cart
										+icon('cart', '20', '17')
								if data.favorite
									button(type="button").product-wide__btn-icon.btn.btn--heart.d-md-none.active.js-add-favorite
										| добавить товар в избранное
										+icon('heart', '17', '15')
								else
									button.product-wide__btn-icon.btn.d-md-none.js-add-favorite
										| Посмотреть товар
										+icon('heart', '17', '15')
