mixin registration(data)
	.registration
		.modal.fade#registration-modal
			div(role="document").modal-dialog.modal-dialog-centered
				form.custom-modal#registration
					header.custom-modal__header
						span.custom-modal__title Вход на сайт
						button(type="button" data-dismiss="modal" aria-label="Close").custom-modal__close.btn.btn--close
							+icon('close', 14, 14)
							| закрыть
					.custom-modal__content
						.custom-modal__row
							label(for="registration-first-name").label Ваше имя
							input(type="text" placeholder="Иван Иванов" required).custom-modal__field.field#registration-first-name
							p.custom-modal__error.error Заполите поле!
						.custom-modal__row
							label(for="registration-email").label Электронная почта
							input(type="email" placeholder="Ivanov@mail.ru" required).custom-modal__field.field#registration-email
							p.custom-modal__error.error Заполите поле!
						.custom-modal__row
							label(for="registration-password").label Пароль
							.registration__field-inner
								input(type="password" value="AptekaApteka123" required).registration__password.custom-modal__field.field#registration-password
								button(type="button").show-pass.js-show-hide-password показать пароль/скрыть
								p.custom-modal__error.error Неверный пароль!
						p.registration__desc
							| Нажимая кнопку «Зарегестрироваться»,
							| я соглашаюсь с&#160;
							a(href="#") правилами сайта
						button.registration__submit.custom-modal__btn.btn.btn--red Зарегистрироваться
					.registration__footer.custom-modal__footer
						span.registration__question У вас уже есть аккаунт?
						button(type="button" data-toggle="modal" data-target="#sign-in-modal" data-dismiss="modal" aria-label="Close").custom-modal__btn.btn.btn--border-red.js-sign-in войти
