mixin certificates(data)
	.row.certificates.js-slider-certificate#certificate
		.col
			.certificates__slide
				img(src="%=static=%img/content/placeholder.png" width="144" height="193" alt="certificate-1")
		.col
			.certificates__slide
				img(src="%=static=%img/content/placeholder.png" width="144" height="193" alt="certificate-2")
		.col
			.certificates__slide
				img(src="%=static=%img/content/placeholder.png" width="144" height="193" alt="certificate-3")
