mixin certificates(data)
	row.certificates.js-slider-certificate
		.col
			.certificates__slide
				img(src="%=static=%img/content/placeholder.png" width="144" height="193")
		.col
			.certificates__slide
				img(src="%=static=%img/content/placeholder.png" width="144" height="193")
		.col
			.certificates__slide
				img(src="%=static=%img/content/placeholder.png" width="144" height="193")
