.product-reviews {
  padding-top: 10px;
  @include media-breakpoint-up(xl) {
    padding-top: 26px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  &__item {
    margin-bottom: 20px;
    @include media-breakpoint-up(md) {
      margin-bottom: 32px;
    }
    @include media-breakpoint-up(xl) {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 47px;
      }
    }
  }
  &__show-more,
  &__add-review {
    width: 100%;
    margin-bottom: 16px;
    @include media-breakpoint-up(md) {
      min-width: 216px;
      width: auto;
    }
  }
  &__show-more {
    span {
      padding-left: 8px;
      font-weight: 400;
      color: $warm-grey-two
    }
  }
}
