include ../icon/icon

mixin discounts(data)
	.discounts
		.container
			h2.discounts__title Акции и скидки
			.row.js-grid
				.col-md-6.col-xl.js-col
					a(href="#" style={'background-image': 'url(%=static=%img/general/banner002.png)'}).discounts__item-lg
						h3.discounts__subject
							span Скидка -30%
							| на тонометр A&D UA-777
						p.discounts__text Акция действительна до 25 мая 2018
						.discounts__sticker.sticker.sticker--md
							+icon('sticker', '70', '70')
							span -30%
				.col-12.col-md-6.col-xl.flex-xl-grow-0
					.row
						.col-6.col-md-12.col-xl-12
							a(href="#").discounts__item-md
								img(data-src="%=static=%img/content/discount-1.jpg" alt="banner-1").discounts__img.lazyload.blur-up
								.discounts__sticker.sticker
									+icon('sticker', '40', '40')
									span -10%
						.col-6.col-md-12.col-xl-12
							a(href="#").discounts__item-md
								img(data-src="%=static=%img/content/discount-2.jpg" alt="banner-2").discounts__img.lazyload.blur-up
								.discounts__sticker.sticker
									+icon('sticker', '40', '40')
									span -10%

				.col-12.col-md-12.col-xl.flex-xl-grow-0
					.row
						.col-6.col-md-6.col-xl-12
							a(href="#").discounts__item-md
								img(data-src="%=static=%img/content/discount-3.jpg" alt="banner-3").discounts__img.lazyload.blur-up
								.discounts__sticker.sticker
									+icon('sticker', '40', '40')
									span -10%
						.col-6.col-md-6.col-xl-12
							a(href="#").discounts__item-md
								img(data-src="%=static=%img/content/discount-4.jpg" alt="banner-4").discounts__img.lazyload.blur-up
								.discounts__sticker.sticker
									+icon('sticker', '40', '40')
									span -10%
				.col-xl.flex-grow-0.d-none-x.d-xxl-block
					.row
						.col-xl-12
							a(href="#").discounts__item-md
								img(data-src="%=static=%img/content/discount-1.jpg" alt="banner-5").discounts__img.lazyload.blur-up
								.discounts__sticker.sticker
									+icon('sticker', '40', '40')
									span -10%
						.col-xl-12
							a(href="#").discounts__item-md
								img(data-src="%=static=%img/content/discount-2.jpg" alt="banner-6").discounts__img.lazyload.blur-up
								.discounts__sticker.sticker
									+icon('sticker', '40', '40')
									span -10%
