include ../icon/icon

mixin product(data)
	.product&attributes(attributes)
		if data.sticker
			.product__sticker.sticker
				+icon('sticker', '40', '40')
				span -10%
		.product__top
			a(href="single-product.html").product__img
				if data.imgName
					img(data-src="%=static=%img/content/"+data.imgName+".jpg" width="120" height="120" alt=""+data.title).lazyload.blur-up
			.product__hover-block
				if data.favorite
					button(type="button" class="product__btn btn btn--heart active").product__btn-icon.btn.btn--heart.js-add-favorite
						| добавить товар в избранное
						+icon('heart', '17', '15')
				else
					button(type="button" class="product__btn btn btn--heart").product__btn-icon.btn.btn--heart.js-add-favorite
						| добавить товар в избранное
						+icon('heart', '17', '15')
				a(href="single-product.html").product__btn-icon.product__btn
					| Посмотреть товар
					+icon('eye', '18', '15')
		.product__info
			h3.product__title
				a(href="single-product.html") #{data.title}
			p.product__made #{data.made}
			if !data.info
				.product__footer
					if data.oldCostValue
						span.product__old-cost #{data.oldCostValue}
							span  &#8381;
					.product__buttons
						a(href="#" data-toggle="modal" data-target="#cart-list").product__buy.btn.btn--border-red.btn--icon.js-add-cart
							span.product__btn-text #{data.cost}
								span  &#8381;
							span.product__btn-label Купить
							span.product__cart
								+icon('cart', '20', '17')
						if data.favorite
							button(type="button").product__btn-icon.btn.btn--heart.active.js-add-favorite
								| добавить товар в избранное
								+icon('heart', '17', '15')
						else
							a(href="#").product__btn-icon.btn.btn--heart
								| добавить товар в избранное
								+icon('heart', '17', '15')
