mixin success-add-review(data)
	.success-add-review.done-request
		.modal.fade#done-write-review
			div(role="document").modal-dialog.modal-dialog-centered.order-fast
				.custom-modal
					header.custom-modal__header
						span.order-fast__title.custom-modal__title Спасибо за отзыв
						button(type="button" data-dismiss="modal" aria-label="Close").custom-modal__close.btn.btn--close
							+icon('close', 14, 14)
							| закрыть
					.custom-modal__content
						p.done-request__desc.custom-modal__desc
							| Ваш отзыв принят!
							| Он будет опубликован в течение двух дней после модерации.
					footer.custom-modal__footer
						button(type="button" data-dismiss="modal" aria-label="Close").custom-modal__btn.btn.btn--red Закрыть
