mixin demo(data)
	.demo
		.container
			.row
				.col-xl-5
					h2.demo__title
						span Покупайте товары
						| в Интернет-аптеке LEKKI
					.demo__content
						p Позвоночник – это ось нашего тела. Здоровый позвоночник – залог здоровья всего организма, красивой осанки, надежная защита от преждевременного старения и различных заболеваний. Обратите внимание на 6 советов, которые помогут сохранить здоровье позвоночника, если не забывать о них каждый день.
						p Спина у стены. Это простое утреннее упражнение: станьте спиной к стене, одновременно касаясь её затылком, плечами, лопатками, ягодицами и пятками. В таком положении попытайтесь простоять хотя бы минуту – кажется, что просто, но это не так. Ваше тело будет под таким напряжением, что уже через несколько секунд захочется присесть.
				.col-xl-7
					.embed-responsive.embed-responsive-16by9
						iframe(width="560" height="315" src="https://www.youtube.com/embed/3M8VXh1vuSo")
