.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 40px;
    padding: 0;
    background-color: #fff;
    border: solid 1px $white-two;
    font-size: 0;
    font-weight: 500;
    color: $black;
    @include media-breakpoint-up(md) {
      width: auto;
      font-size: 13px;
      padding-right: 24px;
      padding-left: 24px;
    }
    &:hover .icon {
      fill: $red;
    }
    .icon {
      fill: $black;
      transition: $transition-base;
    }
    &.disabled {
      color: #c0c0c0;
      .icon {
        fill: #c0c0c0;
      }
    }
  }
  &__prev {
    border-radius: 4px 0 0 4px;
    @include media-breakpoint-up(sm) {
      border-radius: 4px;
    }
    @include media-breakpoint-up(md) {
      .icon {
        margin-right: 12px;
      }
    }

  }
  &__next {
    border-radius: 0 4px 4px 0;
    @include media-breakpoint-up(sm) {
      border-radius: 4px;
    }
    @include media-breakpoint-up(md) {
      .icon {
        margin-left: 12px;
      }
    }
  }
  &__list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style-type: none;
  }
  &__item {
    &:first-child{

    }
    .pagination__page {
      border-right: solid 1px $white-two;
      border-top: solid 1px $white-two;
      border-bottom: solid 1px $white-two;
    }
    &:first-child {
      .pagination__page {
        border-left: solid 1px $white-two;
        @include media-breakpoint-up(sm) {
          border-radius: 4px 0 0 4px;
        }
      }
    }
    &:last-child {
      .pagination__page {
        @include media-breakpoint-up(sm) {
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 41px;
    min-height: 40px;
    padding: 5px;
    text-align: center;
    font-size: 13px;
    &.active {
      color: $red;
    }
  }
}
