mixin pagination(data)
	.pagination
		a(href="#").pagination__prev.disabled
			+icon('page-prev', 10, 9)
			| Назад
		ul.pagination__list
			li.pagination__item
				a(href="#").pagination__page.active 1
			li.pagination__item
				a(href="#").pagination__page 2
			li.pagination__item
				a(href="#").pagination__page 3
			li.pagination__item.d-none.d-md-block
				a(href="#").pagination__page 4
			li.pagination__item.d-none.d-sm-block
				a(href="#").pagination__page 5
			li.pagination__item.d-none.d-sm-block
				a(href="#").pagination__page 6
			li.pagination__item.d-none.d-sm-block
				a(href="#").pagination__page 7
			li.pagination__item.d-none.d-sm-block
				a(href="#").pagination__page 8
			li.pagination__item.d-none.d-xl-block
				a(href="#").pagination__page 9
			li.pagination__item.d-none.d-xl-block
				a(href="#").pagination__page ...
			li.pagination__item
				a(href="#").pagination__page 10
		a(href="").pagination__next
			| Вперед
			+icon('page-next', 10, 9)

