mixin blog(data)
	.blog
		.container
			.row.justify-content-between
				.col-auto
					h2.blog__title Блог
				.col-auto.d-none.d-xl-block
					a(href="#").blog__all-posts.btn Читать статьи
			.row.js-blog-slider
				.col
					.blog__item
						a(href="#").blog__img-link
							img(src="%=static=%img/content/post-1.jpg" srcset="%=static=%img/content/post-1@2x.jpg 2x, %=static=%img/content/post-1@3x.jpg 3x").blog__img
						h3.blog__subject
							a(href="#") Как ухаживать за кожей зимой. 5 шагов к сияющей коже
						span.blog__time 27 февраля 2018
						p.blog__text Отопительный сезон – это время для самозабвенного увлажнения, начиная с базового ежедневного ухода. Попробуйте умываться средством на основе мягких масел. Затем нанесите богатую антиоксидантами ...
				.col
					.blog__item
						a(href="#").blog__img-link
							img(src="%=static=%img/content/post-2.jpg" srcset="%=static=%img/content/post-2@2x.jpg 2x, %=static=%img/content/post-2@3x.jpg 3x").blog__img
						h3.blog__subject
							a(href="#") Как выбрать крем от усталости ног?
						span.blog__time 27 февраля 2018
						p.blog__text Усталость, тяжесть и жжение чаще всего беспокоят людей, которые большую часть дня проводят на ногах или заняты исключительно сидячей работой. Любительницам обуви на каблуках также знакомо чувство, когда ноги …
				.col
					.blog__item
						a(href="#").blog__img-link
							img(src="%=static=%img/content/post-3.jpg" srcset="%=static=%img/content/post-3@2x.jpg 2x, %=static=%img/content/post-3@3x.jpg 3x").blog__img
						h3.blog__subject
							a(href="#") Профилактика гриппа! Как поддержать иммунитет
						span.blog__time 27 февраля 2018
						p.blog__text Резкий перепад температур и переохлаждение делают нас более беззащитными перед возбудителями заболеваний. В первую очередь — перед гриппом, заболеваемость которым приобретает в этот период характер вспышек.
				.col
					.blog__item
						a(href="#").blog__img-link
							img(src="%=static=%img/content/post-1.jpg" srcset="%=static=%img/content/post-1@2x.jpg 2x, %=static=%img/content/post-1@3x.jpg 3x").blog__img
						h3.blog__subject
							a(href="#") Как ухаживать за кожей зимой. 5 шагов к сияющей коже
						span.blog__time 27 февраля 2018
						p.blog__text Отопительный сезон – это время для самозабвенного увлажнения, начиная с базового ежедневного ухода. Попробуйте умываться средством на основе мягких масел. Затем нанесите богатую антиоксидантами ...
				.col
					.blog__item
						a(href="#").blog__img-link
							img(src="%=static=%img/content/post-2.jpg" srcset="%=static=%img/content/post-2@2x.jpg 2x, %=static=%img/content/post-2@3x.jpg 3x").blog__img
						h3.blog__subject
							a(href="#") Как выбрать крем от усталости ног?
						span.blog__time 27 февраля 2018
						p.blog__text Усталость, тяжесть и жжение чаще всего беспокоят людей, которые большую часть дня проводят на ногах или заняты исключительно сидячей работой. Любительницам обуви на каблуках также знакомо чувство, когда ноги …
				.col
					.blog__item
						a(href="#").blog__img-link
							img(src="%=static=%img/content/post-3.jpg" srcset="%=static=%img/content/post-3@2x.jpg 2x, %=static=%img/content/post-3@3x.jpg 3x").blog__img
						h3.blog__subject
							a(href="#") Профилактика гриппа! Как поддержать иммунитет
						span.blog__time 27 февраля 2018
						p.blog__text Резкий перепад температур и переохлаждение делают нас более беззащитными перед возбудителями заболеваний. В первую очередь — перед гриппом, заболеваемость которым приобретает в этот период характер вспышек.
			.row.justify-content-center
				.col-md-auto
					a(href="#").blog__all-posts.btn.d-xl-none Читать статьи
