mixin breadcrumbs(data)
	ul.breadcrumbs
		li.breadcrumbs__item
			a(href="#").breadcrumbs__link Главная
		li.breadcrumbs__item
			a(href="#").breadcrumbs__link Каталог
		li.breadcrumbs__item.active Гигиена
